{% if data.settings.visibilities['03 CAREER'] %}
<div class="folder" onclick="openFolder('03 CAREER')">
    <div class="tab-wrapper">
        <div class="tab">03 CAREER</div>
    </div>
    <div class="folder-body">
        <h1>경력 사항</h1>
        <div class="timeline-wrapper">
            {% for c in data.content.careers %}
            <div class="timeline-item">
                {% if c.icon.startswith('http') or c.icon.startswith('/') %}
                <div class="timeline-circle" style="background-image: url('{{ c.icon }}');"></div>
                {% else %}
                <div class="timeline-circle">{{ c.icon }}</div>
                {% endif %}
                
                <div class="timeline-content">
                    <span class="timeline-period">{{ c.period }}</span>
                    <h3 class="industrial-title">{{ c.company }}</h3>
                    <p class="timeline-text career-details">{{ c.role }}</p>
                    {% if c.desc %}<p class="timeline-text">{{ c.desc }}</p>{% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
